.navbar {
  display: flex;
  justify-content: space-between;
  /* margin: 20px; */
  background: white;
  text-decoration: none;
  width: 100%;
  z-index: 7000;
  position: sticky;
  top: 0;
}

.navbar-nav {
  display: flex;
  text-decoration: none;
  margin-right: 40px;
  list-style-type: none;
  color: black;
}
.navbar .a {
  width: 50%;
}
.Nav-item {
  padding: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
}
.login-link:hover {
  color: rgb(198, 166, 79);
}
